<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to CDN</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white font-sans text-center flex items-center h-screen">

  <div class="container mx-auto">
    <h2 class="text-5xl mb-8 text-orange-500">Welcome to CDN</h2>
    <a href="/upload" class="bg-blue-500 text-white py-3 px-6 rounded">Go To Upload</a>
  </div>

</body>
</html>
