<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white font-sans text-center">

  <div class="container mx-auto py-8">
    <h2 class="text-3xl mb-4 text-orange-500">File Upload</h2>

    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data" class="mb-8" onsubmit="redirectToUploadedPath()">
      <input type="file" name="file" class="bg-gray-800 text-white py-2 px-4 rounded" />
      <button type="submit" class="bg-orange-500 text-white py-2 px-4 rounded">Upload</button>
    </form>
  </div>

  <script>
    function redirectToUploadedPath() {
      fetch('/upload', {
        method: 'POST',
        body: new FormData(document.getElementById('uploadForm')),
      })
      .then(response => response.json())
      .then(data => {
        window.location.href = `/Public/${data.uploadedPath}`;
      })
      .catch(error => {
        console.error('Error uploading file:', error);
      });
  
      return false; 
    }
  </script>
</body>
</html>
